.wrapper {
  gap: 16px;
}

.settings {
  gap: 16px;
}

.imageSettings {
  gap: 32px;

  &__inputs {
    width: 400px;
    gap: 16px;
  }

  &__preview {
    gap: 8px;
  }
}

.textFieldSettings {
  gap: 32px;
}

.button {
  width: 240px;

  &_centered {
    align-self: center;
  }

  &_wide {
    width: 280px;
  }
}

.generation {
  gap: 32px;

  &__image {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
  }

  &__side {
    width: 100%;
    gap: 16px;
  }

  &__buttons {
    gap: 16px;
  }

  &__text {
    white-space: pre-wrap;
  }
}
