@use "../../../styles/variables" as *;

.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  padding: 8px;
  background-color: $primary-color;
  z-index: 100;
  align-items: center;
}

.header {
  align-items: center;
  justify-content: space-between;

  &__menu {
    gap: 16px;

    &Mobile {
      display: none;
      gap: 8px;
    }
  }

  &__button {
    border-color: #ffffff;
    color: #ffffff;

    &Logo {
      font-style: italic;
    }

    &:hover {
      border-color: $text-hover-color !important; // Перебиваю стили консты
      color: $text-hover-color !important; // Перебиваю стили консты
    }

    &:active {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5) !important; // Перебиваю стили консты
    }
  }
}

@media (max-width: 768px) {
  .header__menu {
    display: none;

    &Mobile {
      display: flex;
    }
  }

  .header__buttonLogo {
    display: none;
  }
}

@media (max-width: 576px) {
  .header__buttonLogo {
    display: none;
  }
}
