@use "./variables" as *;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;

  &Block {
    min-height: calc(100vh - 64px);
    margin-top: 64px;
    padding: 40px 0;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
    padding: 30px 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  .container {
    width: 380px;
  }

  .TextField-Label_labelPosition_top {
    font-size: 12px !important;
  }
}

@media (max-width: 400px) {
  .container {
    width: 300px;
  }

  .TextField-Label_labelPosition_top {
    font-size: 15px !important;
  }
}
